/** Add css rules here for your application. */

h1 {
    color: white;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

#navbar{
    background-color: #9f0000;
    width: 100%;
    height: 20%;
}