<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>com.university.University UtenteService</servlet-name>
        <servlet-class>com.university.server.UtenteImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.university.University StudenteService</servlet-name>
        <servlet-class>com.university.server.StudenteImplementazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.university.University FrequentaService</servlet-name>
        <servlet-class>com.university.server.FrequentaImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.university.University EsameService</servlet-name>
        <servlet-class>com.university.server.EsameImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.university.University SostieneService</servlet-name>
        <servlet-class>com.university.server.SostieneImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.university.University DocenteService</servlet-name>
        <servlet-class>com.university.server.DocenteImplementazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.university.University SegreteriaService</servlet-name>
        <servlet-class>com.university.server.SegreteriaImplementazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.university.University CorsoService</servlet-name>
        <servlet-class>com.university.server.CorsoImplementazione</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.university.University UtenteService</servlet-name>
        <url-pattern>/University/utenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.university.University StudenteService</servlet-name>
        <url-pattern>/University/studenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.university.University FrequentaService</servlet-name>
        <url-pattern>/University/frequenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.university.University EsameService</servlet-name>
        <url-pattern>/University/esame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.university.University SostieneService</servlet-name>
        <url-pattern>/University/sostiene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.university.University SegreteriaService</servlet-name>
        <url-pattern>/University/segreteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.university.University DocenteService</servlet-name>
        <url-pattern>/University/docente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.university.University CorsoService</servlet-name>
        <url-pattern>/University/corso</url-pattern>
    </servlet-mapping>
</web-app>